<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/assets/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is stop watch</h1>
    <div id="container">
        <div id="timer">00:00:00</div>
        <button id="start">START</button>
        <button id="reset">RESET</button>
        <button id="resume">RESUME</button>        
    </div>
    
    <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBfFa1Q1FKxrkzQq3qhjV__-y0Z1hZhIVc",
    authDomain: "testapp-adb6c.firebaseapp.com",
    projectId: "testapp-adb6c",
    storageBucket: "testapp-adb6c.appspot.com",
    messagingSenderId: "467524105664",
    appId: "1:467524105664:web:026e982fa670c4ac1fc425",
    measurementId: "G-9C86JGGGLC"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</body>
</html>